<h3 id="interpolation">Current customer: {{ currentCustomer }}</h3>

<!-- "The sum of 1 + 1 is 2" -->
<p>The sum of 1 + 1 is {{1 + 1}}.</p>

<!-- "The sum of 1 + 1 is not 4" -->
<p id="expression">The sum of 1 + 1 is not {{1 + 1 + getVal()}}.</p>

<p>Cars:</p>
<ul>
  <li *ngFor="let car of cars">{{car.make}} {{car.year}}</li>
</ul>

<p>Customers:</p>
<ul>
  <li *ngFor="let customer of customers">
    {{customer.name}} :
    <button (click)="deleteCustomer(customer.id)">Delete {{customer.name}}</button></li>
</ul>

<!-- One-way from data source to view target-->
<div>
  <h3>One-way from data source to view target</h3>
  <p>Button disabled state bound to isUnchanged property</p>
  <button [disabled]="isUnchanged">Disabled</button>
</div>

<!-- One-way from view target to data source -->
<div (keyup)="0">
  <h3>One-way from view target to data source: HTML attributes and DOM properties</h3>
  <p>1. Use the inspector to see the HTML attribute and DOM property values. Click the buttons to log values to the console.</p>

  <label>HTML Attribute Initializes to "Sarah":
    <input type="text" value="Sarah" #bindingInput></label>
  <div>
    <button (click)="getHTMLAttributeValue()">Get HTML attribute value</button> Won't change.
  </div>

  <div>
    <button (click)="getDOMPropertyValue()">Get DOM property value</button> Changeable. Angular works with these.
  </div>

  <p>2. Change the name in the input and click the buttons again.</p>
</div>

<!-- Two way -->
<div>
  <h3>Disabled property vs. attribute</h3>
  <p>Use the inspector to see the Test Button work and its disabled property toggle.</p>
  <div>
    <button id="testButton" (click)="working()">Test Button</button>
  </div>
  <div>
    <button (click)="toggleDisabled()">Toggle disabled property for Test Button</button>
  </div>
</div>
