<!--1. interpolation-->
<h3>1. Interpolation</h3>
<p id="interpolation">Current customer: {{ currentCustomer }}</p>
<p>The sum of 1 + 1 is {{1 + 1}}.</p>


<!--2. expression-->
<h3>2. Expression</h3>
<p id="expression">The sum of 1 + 1 is not {{1 + 1 + getVal()}}.</p>


<!--3. template input variable, car-->
<h3>3. Template input variable</h3>
<p>Cars:</p>
<ul>
  <li *ngFor="let car of cars" class="cars">
    {{car.make}} {{car.year}}
  </li>
</ul>


<!--4. template reference variable, firstNameInput-->
<h3>4. Template reference variable </h3>
<p *ngIf="fullName"  id="fullName">Full Name: {{fullName}}</p>
<label id="templateRefVariable">
  First Name:
  <input type="text" #firstNameInput>
  <button (click)="show(firstNameInput)">Show</button>
</label>


<!--5. template statements-->
<h3>5. Template Statement</h3>
<p>Customers:</p>
<ul id="templateStatements">
  <li *ngFor="let customer of customers">
    {{customer.name}} :
    <button (click)="deleteCustomer(customer.id)">Delete {{customer.name}}</button>
  </li>
</ul>

<!--template $event object-->
<h3>Template $event object</h3>
<div id="eventObject">
  <p>{{ text }}</p>
  <button class="btn" (click)='submit($event)'>Submit</button>
</div>
